<div class="card">
  <div class="card-header">
    <h3 class="text-light">Add New Post</h3>
  </div>
  <form id="post-form" class="post-form card-body">
    <div>
      <label for="post-title" class="form-label">Title</label>
      <input type="text" name="post-title" class="form-input" />
    </div>

    <div>
      <label for="post-body" class="form-label">Content</label>
      <textarea name="post-body" class="form-input"></textarea>
    </div>

    <button type="submit" class="btn form-btn">Add Post</button>

  </form>
</div>

<script src="/javascript/add-post.js"></script> 