<div class="card">
  <div class="card-header">
    <h2 class="text-light">Sign Up</h2>
  </div>
  <form id="signup-form" class="card-body">
    <div>
      <label for="username-signup" class="form-label">Username</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" id="password-signup" />
    </div>
    <button type="submit" id="signup-btn" class="btn form-btn">Signup!</button>
    <a type="button" class="text-dark" href="/login">Already have an account?
      Login here</a>
  </form>
</div>

<script src="/javascript/signup.js"></script> 