<div class="posts" id="user-posts">
  {{#each posts}}
    <article class="post">
       <a
        class="flex-row justify-space-between single-user-post"
        href="/dashboard/edit/{{id}}"
      >
        <span>{{title}}</span>
        <span class="user-post-info">{{format_date created_at}}</span>
      </a>
    </article>
  {{/each}}
</div> 